<h1>What do you want to change?</h1>
<form>
	<fieldset>
		<legend><strong>New Exercise</strong></legend>
		<label for="name">Name of Exercise: </label>
		<br>
		<input type="text" name="name" id="name2">
		<br>
		<label for="reps">Repetitions: </label>
		<br>
		<input type="number" name="reps" id="reps2">
		<br>
		<label for="weight">Weight: </label>
		<br>
		<input type="number" name="weight" id="weight2">
		<p>Measurement:
		<br>
		<label>
			<input type="radio" name="measurement2" value="1" />Pounds (lbs)</label>
			<br>
		<label>
			<input type="radio" name="measurement2" value="0" />Kilograms (kgs)</label>
		</p>
		<label for="date">Complete By (yyyy-mm-dd): </label>
		<br>
		<input type="text" name="date" id="date2">
		<br>
		<br>
		<input type="submit" id="backSubmit">
	</fieldset>
</form>