<h1>Let's get started!</h1>
	<p>
	This website will allow you to add and then submit any key-value pairs to the 
	current URL, and then display those keys and values in a list form after being
	submitted, along with identifying if such a process was done either through a 
	GET or POST request.
	</p>

<h2>For a GET Request...</h2>
	<ol>
		<li>Append <strong>/get-request?</strong> to the current URL</li>
		<li>Then append any <strong>key=value</strong> pair(s) to the URL</li>
		<li>Don't forget to add an <strong>&</strong> between each pair</li>
	</ol>
	
<h2>For a POST Request...</h2>
	<ol>
		<li>To test this functionality, use a Javascript call or another 
		application such as the Chrome plugin Advanced Rest Client, to test the 
		HTTP POST request submissions, being that the key-value pairs are can be sent 
		in the body of a request (or through the URL with the application), 
		either by a well formatted URL encoded query string, 
		<strong>x-www-form-urlencoded</strong>, or by JSON data 
		<strong>{"key":"value"}</strong></li>
		<li>Append <strong>/post-request</strong> to the current URL for testing</li>
	</ol>